$NORMAL_COLOR: #0378e7;
$MULTI_COLOR: #2ec4b6;
$VR_COLOR: #ff3366;
$DETAIL_COLOR: rgb(66, 184, 221);

[v-cloak] {
    visibility: hidden;
}
body {
    background-color: #00509C;
}
a {
    color: #0378e7;
    font-weight: bold;
}
h3, h4 {
    margin-left: 5px;
}
.main {
    padding: 0 10px 50px;
    color: #171717;
    background-color: #FFF;
}
.list_y {
    list-style-type: none;
}
.list_y > li::before {
    content: '';
    position: relative;
    top: -2px;
    left: -8px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #e8be02;
}
.flexAlign_c {
    align-items: center;
}
.border_b {
    border-bottom: #0078e7 solid 4px;
    padding-left: 10px;
}
.mar_t {
    margin-top: 10px;
}
.mar_l {
    margin-left: 10px;
}
.mar_r {
    margin-right: 10px;
}
.pad_a {
    padding: 10px;
}
.pad_t {
    padding-top: 10px;
}
.pad_t_s {
    padding-top: 2px;
}
.pad_l {
    padding-left: 10px;
}
.pad_b {
    padding-bottom: 10px;
}
.font_s {
    font-size: 13px;
}
.font_xs {
    font-size: 11px;
}
.va_m {
    vertical-align: middle;
}
.none {
    display: none;
}
.fade-enter-active {
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
}
.fade-leave-active {
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
.accordion-enter-active {
    transition: margin-top .3s ease-out, opacity .1s .2s;
    -moz-transition: margin-top .3s ease-out, opacity .1s .2s;
    -webkit-transition: margin-top .3s ease-out, opacity .1s .2s;
    -o-transition: margin-top .3s ease-out, opacity .1s .2s;
}
.accordion-leave-active {
    transition: margin-top .1s;
    -moz-transition: margin-top .1s;
    -webkit-transition: margin-top .1s;
    -o-transition: margin-top .1s;
}
.accordion-enter, .accordion-leave-to{
    margin-top: -200px;
    opacity: 0;
}
.txt_c {
    text-align: center;
}
.txt_r {
    text-align: right;
}
.pWrap {
    min-height: 300px;
    position: relative;
}
.zoomRange {
    position: absolute;
    top: 8px;
    right: 20px;

    [type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: $DETAIL_COLOR;
        height: 2px;
        width: 100%;
        border-radius: 6px;

        &:focus,
        &:active {
          outline: none;
        }

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          cursor: pointer;
          position: relative;
          width: 20px;
          height: 20px;
          display: block;
          border: 2px solid $NORMAL_COLOR;
          background-color: #fff;
          border-radius: 50%;
          -webkit-border-radius: 50%;
        }

        &::-moz-slider-thumb {
          -moz-appearance: none;
          appearance: none;
          cursor: pointer;
          position: relative;
          width: 20px;
          height: 20px;
          display: block;
          border: 2px solid $NORMAL_COLOR;
          background-color: #fff;
          border-radius: 50%;
          -moz-border-radius: 50%;
        }
    }
}
.formImageSelect {
    position: relative;
    width: 95%;

    input {
        position: absolute;
        opacity: 0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}
.acco_title {
    padding: 5px 5px 5px 0;

    select {
        border: 1px solid #888;
    }

    .label {
        font-weight: bold;
        line-height: 36px;
    }
    .arrow {
        transition: .3s;
        -webkit-transition: .3s;

        &.open {
            color: #0378e7 !important;
            transform: rotateX(180deg);
            -webkit-transform: rotateX(180deg);
        }
    }
}
.square {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.pCanvas {
    border: solid 3px WHITE;
    border-radius: 4px;
    box-sizing: border-box;

    &.multi {
        border-color: $MULTI_COLOR;
    }
    &.vr {
        border-color: $VR_COLOR;
    }
}

.pure-button {
    &.normal,
    &.multi,
    &.vr,
    &.detail {
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }
    &.normal:hover,
    &.multi:hover,
    &.vr:hover,
    &.detail:hover {
        background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1));
        background-image: -o-linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1));
        background-image: -moz-linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1));
        background-image: linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1));
    }
    &.normal {
        background: $NORMAL_COLOR;
    }
    &.multi {
        background: $MULTI_COLOR;
    }
    &.vr {
        background: $VR_COLOR;
    }
    &.detail {
        background: $DETAIL_COLOR; /* this is a light blue */
    }
}

.floor {
    transform-style: preserve-3d;
    transform: perspective(400px) rotateX(60deg);
    -webkit-transform-style: preserve-3d;
    -webkit-transform: perspective(400) rotateX(60deg);
    -o-transform-style: preserve-3d;
    -o-transform: perspective(400px) rotateX(60deg);
    -moz-transform-style: preserve-3d;
    -moz-transform: perspective(400px) rotateX(60deg);
}
.bl_multi {
    border-left: 4px solid $MULTI_COLOR;
}
.bl_vr {
    border-left: 4px solid $VR_COLOR;
}
.checkbox_toggle {
    input {
        display: none;
    }
    .label {
        display: inline-block;
        min-width: 30px;
    }
    .tap {
        position: relative;
        padding: 2px 5px 0 40px;
        width: 97%;
        box-sizing: border-box;
        transition: .3s;
        -webkit-transition: .3s;
        color: #444;
        background: #fff;
        border-radius: 8px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        display: inline-block;
        word-break: keep-all;
        -webkit-user-select: none;
        user-select: none;
        line-height: 36px;
    }
    .tap::before {
        content: "";
        display: block;
        top: 5px;
        left: 6px;
        width: 30px;
        height: 15px;
        border-radius: 15px;
        border: 1px solid #aaa;
        background: #fff;
        position: absolute;
    }
    .tap::after {
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        left: 8px;
        width: 13px;
        height: 13px;
        background: #ccc;
        border-radius: 50%;
        transition: .2s;
        -webkit-transition: .2s;
        display: block;
    }
    input:checked + .tap {
        color: $DETAIL_COLOR;
        font-weight: bold;
        border: 2px solid $DETAIL_COLOR;
    }
    input:checked + .tap::before {
        border: 1px solid $DETAIL_COLOR;
        background: $DETAIL_COLOR;
    }
    input:checked + .tap::after {
        left: 23px;
        background: #fff;
    }
}
.tab_option {
    .title {
        line-height: 40px;
        border-radius: 20px 20px 0 0;
        border: 1px solid #bbb;
        box-sizing: border-box;
        text-align: center;
        color: #aaa;
        transition: .2s;
        -webkit-transition: .2s;
        margin-top: 6px;
        background: #eee;
    }
    .title.selected {
        border-bottom: none;
        border-top: 4px solid #e8be02;
        color: #e8be02;
        font-weight: bold;
        margin-top: 0;
        background: #fff;
    }
    .content {

    }
}
